USE [master]
GO
/****** Object:  Database [CalibrationLicense]    Script Date: 2/7/2017 9:43:10 AM ******/
CREATE DATABASE [CalibrationLicense]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CalibrationLicense', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CalibrationLicense.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CalibrationLicense_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CalibrationLicense_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CalibrationLicense].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CalibrationLicense]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/7/2017 9:43:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Feature]    Script Date: 2/7/2017 9:43:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature](
	[FeatureId] [int] IDENTITY(1,1) NOT NULL,
	[FeatureTitle] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Feature] PRIMARY KEY CLUSTERED 
(
	[FeatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[License]    Script Date: 2/7/2017 9:43:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[License](
	[LicenseId] [int] IDENTITY(1,1) NOT NULL,
	[LicenseKey] [nvarchar](max) NULL,
	[IsAvailable] [bit] NOT NULL,
	[LicenseTypeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.License] PRIMARY KEY CLUSTERED 
(
	[LicenseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LicenseType]    Script Date: 2/7/2017 9:43:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenseType](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ActiveDuration] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_dbo.LicenseType] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LicenseTypeFeature]    Script Date: 2/7/2017 9:43:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenseTypeFeature](
	[LicenseType_TypeId] [int] NOT NULL,
	[Feature_FeatureId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.LicenseTypeFeature] PRIMARY KEY CLUSTERED 
(
	[LicenseType_TypeId] ASC,
	[Feature_FeatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Team]    Script Date: 2/7/2017 9:43:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[TeamId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[GroupEmail] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Team] PRIMARY KEY CLUSTERED 
(
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 2/7/2017 9:43:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FName] [nvarchar](max) NULL,
	[LName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Organization_TeamId] [int] NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[ThumbPrint] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserLicense]    Script Date: 2/7/2017 9:43:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLicense](
	[UserLicenseId] [int] IDENTITY(1,1) NOT NULL,
	[UserKey] [nvarchar](max) NULL,
	[IsExpired] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[ActivationDate] [datetime] NOT NULL,
	[User_UserId] [int] NULL,
	[License_LicenseId] [int] NULL,
 CONSTRAINT [PK_dbo.UserLicense] PRIMARY KEY CLUSTERED 
(
	[UserLicenseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Feature] ON 

INSERT [dbo].[Feature] ([FeatureId], [FeatureTitle]) VALUES (1, N'Feature1')
INSERT [dbo].[Feature] ([FeatureId], [FeatureTitle]) VALUES (2, N'Feature2')
INSERT [dbo].[Feature] ([FeatureId], [FeatureTitle]) VALUES (3, N'Feature3')
SET IDENTITY_INSERT [dbo].[Feature] OFF
SET IDENTITY_INSERT [dbo].[License] ON 

INSERT [dbo].[License] ([LicenseId], [LicenseKey], [IsAvailable], [LicenseTypeId]) VALUES (1, N'trial', 0, 1)
INSERT [dbo].[License] ([LicenseId], [LicenseKey], [IsAvailable], [LicenseTypeId]) VALUES (2, N'trial', 0, 1)
INSERT [dbo].[License] ([LicenseId], [LicenseKey], [IsAvailable], [LicenseTypeId]) VALUES (3, N'trial', 0, 1)
SET IDENTITY_INSERT [dbo].[License] OFF
SET IDENTITY_INSERT [dbo].[LicenseType] ON 

INSERT [dbo].[LicenseType] ([TypeId], [TypeName], [Description], [ActiveDuration], [ImageUrl], [Price]) VALUES (1, N'Trial', N'', 30, NULL, 0)
INSERT [dbo].[LicenseType] ([TypeId], [TypeName], [Description], [ActiveDuration], [ImageUrl], [Price]) VALUES (2, N'Subscription1', N'', 250, NULL, 750)
INSERT [dbo].[LicenseType] ([TypeId], [TypeName], [Description], [ActiveDuration], [ImageUrl], [Price]) VALUES (3, N'SUbscription2', N'', 365, NULL, 1200)
SET IDENTITY_INSERT [dbo].[LicenseType] OFF
INSERT [dbo].[LicenseTypeFeature] ([LicenseType_TypeId], [Feature_FeatureId]) VALUES (1, 1)
INSERT [dbo].[LicenseTypeFeature] ([LicenseType_TypeId], [Feature_FeatureId]) VALUES (2, 1)
INSERT [dbo].[LicenseTypeFeature] ([LicenseType_TypeId], [Feature_FeatureId]) VALUES (3, 1)
SET IDENTITY_INSERT [dbo].[Team] ON 

INSERT [dbo].[Team] ([TeamId], [Name], [GroupEmail]) VALUES (1, N'Fluke', N'')
SET IDENTITY_INSERT [dbo].[Team] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [FName], [LName], [Email], [Organization_TeamId], [PasswordHash], [ThumbPrint]) VALUES (1, N'Pavithra', N'K', N'pavithrak2001@yahoo.com', 1, N'FA5EFCE904DB7A487235D3053741B22A595B50AFBE6BF8E57E3B3C4A15A2BE44', N'dGm+C3MLS3wJug==')
INSERT [dbo].[User] ([UserId], [FName], [LName], [Email], [Organization_TeamId], [PasswordHash], [ThumbPrint]) VALUES (2, N'pavithra', N'K S', N'pavithraks2006@yahoo.com', 1, N'D035F0799BF20780E2B8693276B1CA82AE1C2D95C7C719B467C6DDCAA3740D2B', N'KgVdJgSD1gmGSQ==')
INSERT [dbo].[User] ([UserId], [FName], [LName], [Email], [Organization_TeamId], [PasswordHash], [ThumbPrint]) VALUES (3, N'pavithra', N'k', N'pavithrak2007@yahoo.com', 1, N'AE13C241232F1FEFDBAE40725EB86DB30A7DF8F4709E0D30A18080988D9E597A', N'e5HZWRA7iLaOOQ==')
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserLicense] ON 

INSERT [dbo].[UserLicense] ([UserLicenseId], [UserKey], [IsExpired], [IsDeleted], [ActivationDate], [User_UserId], [License_LicenseId]) VALUES (1, N'5k0cb0-gcbya5-h5cdh2-aamg4v', 0, 0, CAST(N'2017-02-06 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[UserLicense] ([UserLicenseId], [UserKey], [IsExpired], [IsDeleted], [ActivationDate], [User_UserId], [License_LicenseId]) VALUES (2, N'5k0cb0-gcbya5-h5cdh2-aamg4v', 0, 0, CAST(N'2017-02-06 00:00:00.000' AS DateTime), 2, 2)
INSERT [dbo].[UserLicense] ([UserLicenseId], [UserKey], [IsExpired], [IsDeleted], [ActivationDate], [User_UserId], [License_LicenseId]) VALUES (3, N'5k0cb0-gcbya5-h5cdh2-aamg4v', 0, 0, CAST(N'2017-02-06 00:00:00.000' AS DateTime), 3, 3)
SET IDENTITY_INSERT [dbo].[UserLicense] OFF
/****** Object:  Index [IX_LicenseTypeId]    Script Date: 2/7/2017 9:43:10 AM ******/
CREATE NONCLUSTERED INDEX [IX_LicenseTypeId] ON [dbo].[License]
(
	[LicenseTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feature_FeatureId]    Script Date: 2/7/2017 9:43:10 AM ******/
CREATE NONCLUSTERED INDEX [IX_Feature_FeatureId] ON [dbo].[LicenseTypeFeature]
(
	[Feature_FeatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LicenseType_TypeId]    Script Date: 2/7/2017 9:43:10 AM ******/
CREATE NONCLUSTERED INDEX [IX_LicenseType_TypeId] ON [dbo].[LicenseTypeFeature]
(
	[LicenseType_TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Organization_TeamId]    Script Date: 2/7/2017 9:43:10 AM ******/
CREATE NONCLUSTERED INDEX [IX_Organization_TeamId] ON [dbo].[User]
(
	[Organization_TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_License_LicenseId]    Script Date: 2/7/2017 9:43:10 AM ******/
CREATE NONCLUSTERED INDEX [IX_License_LicenseId] ON [dbo].[UserLicense]
(
	[License_LicenseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_UserId]    Script Date: 2/7/2017 9:43:10 AM ******/
CREATE NONCLUSTERED INDEX [IX_User_UserId] ON [dbo].[UserLicense]
(
	[User_UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[License]  WITH CHECK ADD  CONSTRAINT [FK_dbo.License_dbo.LicenseType_LicenseTypeId] FOREIGN KEY([LicenseTypeId])
REFERENCES [dbo].[LicenseType] ([TypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[License] CHECK CONSTRAINT [FK_dbo.License_dbo.LicenseType_LicenseTypeId]
GO
ALTER TABLE [dbo].[LicenseTypeFeature]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LicenseTypeFeature_dbo.Feature_Feature_FeatureId] FOREIGN KEY([Feature_FeatureId])
REFERENCES [dbo].[Feature] ([FeatureId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LicenseTypeFeature] CHECK CONSTRAINT [FK_dbo.LicenseTypeFeature_dbo.Feature_Feature_FeatureId]
GO
ALTER TABLE [dbo].[LicenseTypeFeature]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LicenseTypeFeature_dbo.LicenseType_LicenseType_TypeId] FOREIGN KEY([LicenseType_TypeId])
REFERENCES [dbo].[LicenseType] ([TypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LicenseTypeFeature] CHECK CONSTRAINT [FK_dbo.LicenseTypeFeature_dbo.LicenseType_LicenseType_TypeId]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_dbo.Team_Organization_TeamId] FOREIGN KEY([Organization_TeamId])
REFERENCES [dbo].[Team] ([TeamId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_dbo.User_dbo.Team_Organization_TeamId]
GO
ALTER TABLE [dbo].[UserLicense]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserLicense_dbo.License_License_LicenseId] FOREIGN KEY([License_LicenseId])
REFERENCES [dbo].[License] ([LicenseId])
GO
ALTER TABLE [dbo].[UserLicense] CHECK CONSTRAINT [FK_dbo.UserLicense_dbo.License_License_LicenseId]
GO
ALTER TABLE [dbo].[UserLicense]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserLicense_dbo.User_User_UserId] FOREIGN KEY([User_UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserLicense] CHECK CONSTRAINT [FK_dbo.UserLicense_dbo.User_User_UserId]
GO
USE [master]
GO
